<div class="block block--light-green block--reverse" id="about-us">
  <img src="{{ 'group_pic.jpeg' | asset_url }}" class="block__image" alt="Megan and Will, the founders of Pesto For All"/>
  <div class="block__text">
    <h2 class="block__headline">
      About us
    </h2>
    <p>
      We're Megan and Will, the founders of Pesto For All. We started making pesto in our tiny apartment kitchen in 2020, and we've been perfecting our recipe ever since. Our mission is to bring the fresh, authentic taste of Italian pesto to everyone.
    </p>
  </div>
  <div class="divider">
    <hr />
    <hr />
  </div>
</div>

{% schema %}
{
  "name": "About",
  "presets": [
    {
      "name": "About"
    }
  ]
}
{% endschema %} 